<Devices>
	<!--				 ROUTER R1 					-->
	<Router id="R1">

        <Interfaces>
            <Interface name="eth0">
                <IPAddress>10.0.12.1</IPAddress>
                <Mask>255.255.255.252</Mask>
                <IPv6Address>2001:0:12::1/64</IPv6Address>
                <RIPng name="RIPng1"/>
            </Interface>
            <Interface name="eth1">
                <IPAddress>10.0.1.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:0:1::1/64</IPv6Address>
                <RIPng name="RIPng1">
                	<PassiveInterface>enable</PassiveInterface>
                </RIPng>
            </Interface>
        </Interfaces>

        <Routing6>
        	<RIPng name="RIPng1"/>
        </Routing6>

        <Routing>
        	<RIP>
        		<Network>0.0.0.0</Network>
				<Passive-interface>eth1</Passive-interface>
        	</RIP>
        </Routing>

    </Router>

</Devices>