<?xml version="1.0"?>
<Devices>
	<Router id="192.168.12.1">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.1</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
    	</Interfaces>
	</Router>
	
	<Router id="192.168.12.2">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.2</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
    	</Interfaces>
	</Router>
</Devices>
