<Devices>
	<!-- R1 -->
	<Router id="172.16.3.2">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>172.16.3.2</IPAddress>
                <Mask>255.255.255.252</Mask>
                
                <EIGRP-IPv4 asNumber='1'>
                	<HelloInterval>5</HelloInterval>
					<HoldInterval>15</HoldInterval>
                </EIGRP-IPv4>
            </Interface>
            <Interface name="eth1">
                <IPAddress>172.16.1.1</IPAddress>
                <Mask>255.255.255.0</Mask>
            </Interface>
            <Interface name="eth2">
                <IPAddress>192.168.10.1</IPAddress>
                <Mask>255.255.255.0</Mask>
            </Interface>            
        </Interfaces>
        
        <Routing>
        	<EIGRP>
	        	<ProcessIPv4 asNumber="1">
	        		<Networks>
	        			<Network> 
	        				<IPAddress>172.16.3.0</IPAddress>						 
						 	<Wildcard>0.0.0.3</Wildcard>
						</Network>
						<Network> 
	        				<IPAddress>172.16.1.0</IPAddress>						 
						 	<Wildcard>0.0.0.255</Wildcard>
						</Network>
	        		</Networks>
	        		
	        		<!--<MetricWeights k1='2' k2='3' k3='4' k4='5' k5='6' tos='0' />-->
	        	</ProcessIPv4>
        	</EIGRP>
        </Routing>
        
        <Routing6>
        </Routing6>
        
    </Router>
    
    <!-- R2 -->
    <Router id="172.16.3.1">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>172.16.3.1</IPAddress>
                <Mask>255.255.255.252</Mask>
            </Interface>
        </Interfaces>
        
        <Routing>
        	<EIGRP>
	        	<ProcessIPv4 asNumber="1">
	        		<Networks>
	        			<Network> 
	        				<IPAddress>172.16.3.0</IPAddress>						 
						 	<Wildcard>255.255.255.252</Wildcard>
						</Network> 
	        		</Networks>
	        	</ProcessIPv4>
        	</EIGRP>
        </Routing>
        
        <Routing6>    
        </Routing6>
        
    </Router>
    
	
	<Host id="172.16.1.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>172.16.1.2</IPAddress>
                <Mask>255.255.255.0</Mask>
			</Interface>
		</Interfaces>
		<DefaultRouter>172.16.3.1</DefaultRouter>
	</Host>
	<Host id="192.168.10.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.10.2</IPAddress>
                <Mask>255.255.255.0</Mask>
			</Interface>
		</Interfaces>
		<DefaultRouter>172.16.3.1</DefaultRouter>
	</Host>

</Devices>