<?xml version="1.0"?>
<Routers>
	<RBridge id="rB1">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0001.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
	<RBridge id="rB2">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0002.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
	<RBridge id="rB3">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0003.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
	<RBridge id="rB4">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0004.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
	<RBridge id="rB5">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0005.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
	<RBridge id="rB6">
  		<Routing>
  			<ISIS>
  				<NET>49.0001.0100.0000.0006.00</NET>
  			</ISIS>
  		</Routing>
	</RBridge>
</Routers>