<Devices>
	<!-- 	R1		-->
	<Router id="R1">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.1.1</IPAddress>
				<Mask>255.255.255.0</Mask>
				<GLBP>
					<Group id="1" ip="192.168.1.254" priority = "100"></Group>												
				</GLBP>				
			</Interface>			
		</Interfaces>
	</Router>
	
	<!-- 	R2		-->
	<Router id="R2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.1.2</IPAddress>
				<Mask>255.255.255.0</Mask>
				<GLBP>
					<Group id="1" ip="192.168.1.254" priority = "100"></Group>	
				</GLBP>				
			</Interface>		
					
		</Interfaces>
	</Router>	
	
	<!-- 	R3		-->
	<Router id="R3">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.1.3</IPAddress>
				<Mask>255.255.255.0</Mask>
				<GLBP>
					<Group id="1" ip="192.168.1.254" priority = "100"></Group>	
				</GLBP>				
			</Interface>			
		</Interfaces>
	</Router>		

	<!-- 	R4		-->
	<Router id="R4">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.1.4</IPAddress>
				<Mask>255.255.255.0</Mask>
				<GLBP>
					<Group id="1" ip="192.168.1.254" priority = "100"></Group>	
				</GLBP>				
			</Interface>			
		</Interfaces>
	</Router>	
	
	<!-- 	R5		-->
	<Router id="R5">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>192.168.1.5</IPAddress>
				<Mask>255.255.255.0</Mask>
				<GLBP>
					<Group id="1" ip="192.168.1.254" priority = "100"></Group>	
				</GLBP>				
			</Interface>			
		</Interfaces>
	</Router>	
		
	<!-- 	H1		-->
	<Host id="H1">
		<Interfaces>
			<Interface name="eth0">			
				<IPAddress>192.168.1.10</IPAddress>
				<Mask>255.255.255.0</Mask>
			</Interface>					
		</Interfaces>
	</Host>	

	<!-- 	H2		-->
	<Host id="H2">
		<Interfaces>
			<Interface name="eth0">				
				<IPAddress>192.168.1.11</IPAddress>
				<Mask>255.255.255.0</Mask>
			</Interface>					
		</Interfaces>
	</Host>

	<!-- 	H3		-->
	<Host id="H3">
		<Interfaces>
			<Interface name="eth0">				
				<IPAddress>192.168.1.12</IPAddress>
				<Mask>255.255.255.0</Mask>
			</Interface>					
		</Interfaces>
	</Host>

	<!-- 	H4		-->
	<Host id="H4">
		<Interfaces>
			<Interface name="eth0">				
				<IPAddress>192.168.1.13</IPAddress>
				<Mask>255.255.255.0</Mask>
			</Interface>					
		</Interfaces>
	</Host>

	<!-- 	H5		-->
	<Host id="H5">
		<Interfaces>
			<Interface name="eth0">				
				<IPAddress>192.168.1.14</IPAddress>
				<Mask>255.255.255.0</Mask>
			</Interface>					
		</Interfaces>
	</Host>
</Devices>