<Devices>
	<Router id="10.0.0.1">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.0.1</IPAddress>
				<Mask>255.255.255.0</Mask>
				<IPv6Address>2001:db8:a1::1/64</IPv6Address>
				<OspfProcess6>1</OspfProcess6>
				<OspfArea6>0</OspfArea6>
				<OspfPriority6>10</OspfPriority6>
			</Interface>
		</Interfaces>
		<Routing6>
			<Ospf>
				<Process id="1">
					<RouterId>10.0.0.1</RouterId>
				</Process>
			</Ospf>
		</Routing6>
	</Router>
	
	<Router id="10.0.0.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.0.2</IPAddress>
				<Mask>255.255.255.0</Mask>
				<IPv6Address>2001:db8:a2::1/64</IPv6Address>
				<OspfProcess6>1</OspfProcess6>
				<OspfArea6>0</OspfArea6>
				<OspfPriority6>0</OspfPriority6>
			</Interface>
		</Interfaces>
		<Routing6>
			<Ospf>
				<Process id="1">
					<RouterId>10.0.0.2</RouterId>
				</Process>
			</Ospf>
		</Routing6>
	</Router>
	
	<Router id="10.0.0.3">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.0.3</IPAddress>
				<Mask>255.255.255.0</Mask>
				<IPv6Address>2001:db8:a3::1/64</IPv6Address>
				<OspfProcess6>1</OspfProcess6>
				<OspfArea6>0</OspfArea6>
				<OspfPriority6>8</OspfPriority6>
			</Interface>
		</Interfaces>
		<Routing6>
			<Ospf>
				<Process id="1">
					<RouterId>10.0.0.3</RouterId>
				</Process>
			</Ospf>
		</Routing6>
	</Router>
	
	<Router id="10.0.0.4">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.0.4</IPAddress>
				<Mask>255.255.255.0</Mask>
				<IPv6Address>2001:db8:a4::1/64</IPv6Address>
				<OspfProcess6>1</OspfProcess6>
				<OspfArea6>0</OspfArea6>
				<OspfPriority6>5</OspfPriority6>
			</Interface>
		</Interfaces>
		<Routing6>
			<Ospf>
				<Process id="1">
					<RouterId>10.0.0.4</RouterId>
				</Process>
			</Ospf>
		</Routing6>
	</Router>
	
	<Router id="10.0.0.5">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.0.5</IPAddress>
				<Mask>255.255.255.0</Mask>
				<IPv6Address>2001:db8:a5::1/64</IPv6Address>
				<OspfProcess6>1</OspfProcess6>
				<OspfArea6>0</OspfArea6>
				<OspfPriority6>8</OspfPriority6>
			</Interface>
		</Interfaces>
		<Routing6>
			<Ospf>
				<Process id="1">
					<RouterId>10.0.0.5</RouterId>
				</Process>
			</Ospf>
		</Routing6>
	</Router>
</Devices>