<Devices>
	<Router id="Router1">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.1</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80:10::1/10</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80:12::1/10</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router2">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.2</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80:10::2/10</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80:12::2/10</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router3">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.3</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80:10::3/10</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80:12::3/10</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router4">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.4</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80:10::4/10</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80:12::4/10</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
</Devices>

