.formbox-editor-709112 {
	width: 100% !important;
	padding: 0 !important;
}
.formbox-editor-709112 .formbox-field-email-709112 {
	width: 50%;
	display: inline-block;
}
.formbox-editor-709112 .formbox-field-fname-709112 {
	width: 48%;
	margin-right: 2%;
	display: inline-block;
}