<Devices>
	<Router id="2001:12::1">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>12.12.12.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:12::1/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngSplitHorizon>disable</RIPngSplitHorizon>
            </Interface>
            <Interface name="eth2">
                <IPAddress>1.1.1.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:1:1:1::1/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth3">
                <IPAddress>2.2.2.2</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:2:2:2::2/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth1">
                <IPAddress>13.13.13.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:13::1/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
            </Interface>
        </Interfaces>
        
        <Routing6>
        </Routing6>
    </Router>
    
    <Router id="2001:12::2">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>12.12.12.2</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:12::2/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
            </Interface>
            <Interface name="eth2">
                <IPAddress>3.3.3.3</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:3:3:3::3/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth3">
                <IPAddress>4.4.4.4</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:4:4:4::4/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth1">
                <IPAddress>23.23.23.2</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:23::2/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
            </Interface>
        </Interfaces>
        
        <Routing6>    
        </Routing6>
    </Router>
    
    <Router id="2001:13::3">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>13.13.13.3</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:13::3/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
            </Interface>
            <Interface name="eth2">
                <IPAddress>5.5.5.5</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:5:5:5::5/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth3">
                <IPAddress>6.6.6.6</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:6:6:6::6/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
                <RIPngPassiveInterface>enable</RIPngPassiveInterface>
            </Interface>
            <Interface name="eth1">
                <IPAddress>23.23.23.2</IPAddress>
                <Mask>255.255.255.0</Mask>
                <IPv6Address>2001:23::3/64</IPv6Address>
                <RIPngInterfaceStatus>enable</RIPngInterfaceStatus>
            </Interface>
        </Interfaces>
        
        <Routing6>    
        </Routing6>
    </Router>
    
    <Host id="2001:3:3:3::10">
		<Interfaces>
			<Interface name="eth0">
				<IPv6Address>2001:3:3:3::10/64</IPv6Address>
			</Interface>
		</Interfaces>
		<DefaultRouter>2001:3:3:3::3</DefaultRouter>
	</Host>
	
	<Host id="2001:6:6:6::10">
		<Interfaces>
			<Interface name="eth0">
				<IPv6Address>2001:6:6:6::10/64</IPv6Address>
			</Interface>
		</Interfaces>
		<DefaultRouter>2001:6:6:6::6</DefaultRouter>
	</Host>
</Devices>