<Devices>
	<Router id="R1">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.1</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:100/64</IPv6Address>
				<IPv6Address>2001:db8:a::1/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:110/64</IPv6Address>
				<IPv6Address>2001:db8:1::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="R2">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.2</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:200/64</IPv6Address>
				<IPv6Address>2001:db8:a::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.2</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:210/64</IPv6Address>
				<IPv6Address>2001:db8:2::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="R3">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.3</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:300/64</IPv6Address>
				<IPv6Address>2001:db8:a::3/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.3</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:310/64</IPv6Address>
				<IPv6Address>2001:db8:3::1/64</IPv6Address>
			</Interface>
			<Interface name="ppp0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Point-to-point</InterfaceType>
						<Area>0.0.0.34</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:340/64</IPv6Address>
				<IPv6Address>2001:db8:34::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="R4">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.4</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:400/64</IPv6Address>
				<IPv6Address>2001:db8:a::4/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.4</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:410/64</IPv6Address>
				<IPv6Address>2001:db8:4::1/64</IPv6Address>
			</Interface>
			<Interface name="ppp0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Point-to-point</InterfaceType>
						<Area>0.0.0.34</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:430/64</IPv6Address>
				<IPv6Address>2001:db8:34::2/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="R5">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.5</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:500/64</IPv6Address>
				<IPv6Address>2001:db8:1::5/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.5</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:510/64</IPv6Address>
				<IPv6Address>2001:db8:5::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="R6">
		<Routing6>
			<OSPFv3>
				<Process id="1">
					<RouterID>10.10.10.6</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:600/64</IPv6Address>
				<IPv6Address>2001:db8:1::6/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="1">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.6</Area>
						<PassiveInterface>True</PassiveInterface>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:610/64</IPv6Address>
				<IPv6Address>2001:db8:6::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
</Devices>

