<?xml version="1.0"?>
<Routers>
	<Router id="192.168.12.1">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.1</IPAddress>
        		<Mask>255.255.255.0</Mask>
        		<IS-IS-Priority>128</IS-IS-Priority>
        		<IS-IS-Metric>50</IS-IS-Metric>
      		</Interface>
      		
    	</Interfaces>
  		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2001.00</NET>
  			</IS-IS>
  		</Routing>
	</Router>
	
	<Router id="192.168.12.2">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.2</IPAddress>
        		<Mask>255.255.255.0</Mask>
        		<IS-IS-Priority>5</IS-IS-Priority>
      		</Interface>
      		
    	</Interfaces>
		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2002.00</NET>
  			</IS-IS>
  		</Routing>


	</Router>
	
	<Router id="192.168.12.3">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.3</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2003.00</NET>
  			</IS-IS>
  		</Routing>
	</Router>
	
	<Router id="192.168.12.4">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.4</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2004.00</NET>
  			</IS-IS>
  		</Routing>
	</Router>	
	
	<Router id="192.168.12.5">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.5</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2005.00</NET>
  			</IS-IS>
  		</Routing>
	</Router>		
	
	<Router id="192.168.12.6">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.12.6</IPAddress>
        		<Mask>255.255.255.0</Mask>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<IS-IS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0001.1921.6801.2006.00</NET>
  			</IS-IS>
  		</Routing>
	</Router>	
		
</Routers>
