<?xml version="1.0"?>
<Routers>
	<Router id="192.168.46.6">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.46.6</IPAddress>
        		<Mask>255.255.255.0</Mask>
        		<ISIS-Priority>100</ISIS-Priority>
        		<ISIS-Network>point-to-point</ISIS-Network>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<ISIS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0002.0100.0000.0006.00</NET>
  			</ISIS>
  		</Routing>
	</Router>
	
	<Router id="192.168.67.7">
		<Interfaces>
     		<Interface name="eth0">
        		<IPAddress>192.168.67.7</IPAddress>
        		<Mask>255.255.255.0</Mask>
        		<ISIS-Priority>100</ISIS-Priority>
        		<ISIS-Network>point-to-point</ISIS-Network>
      		</Interface>
  		</Interfaces>
  		<Routing>
  			<ISIS>
  				<IS-Type>level-1</IS-Type>
  				<NET>49.0002.0100.0000.0007.00</NET>
  			</ISIS>
  		</Routing>
	</Router>
	
	
</Routers>